<div class="schedules-index-page">
  <h4 class="header">Your Schedules</h4>
  <div class="schedules-all">
    <% @schedules.each do |schedule| %>
      <%= link_to schedule_path(schedule) do %>
        <div class="card schedule-card">
        <div class="activity-name">
          <%= schedule.activity.name %>
        </div>
          <table>
              <tr class="top">
                <td class="info"><%= "#{schedule.city}, #{schedule.state}" %></td>
                <td class="match-count">
                  <p class="header">Available</p>
                  <p class="count"><%= schedule.available_matches.count %></p>
                </td>
              </tr>
              <tr class="bottom">
                <td class="info"><%= schedule.time.strftime("%A %d-%m-%Y") %></td>
                <td class="match-count">
                  <p class="header">Matched</p>
                  <p class="count"><%= schedule.matches.count %></p>
                </td>
              </tr>
            </table>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
