<h3>schedule#show page</h3>

<% @schedule.available_matches.each do |schedule| %>
  <p><%= schedule.id %></p>
  <h3><%= schedule.user.name %></h3>
  <%= form_for :schedule_response, url: accept_schedule_schedule_responses_path(schedule) do |f| %>
    <%= f.hidden_field :responder_id, value: @schedule.id %>
    <%= f.submit "Accept" %>
  <% end %>
  <%= form_for :schedule_response, url: decline_schedule_schedule_responses_path(schedule) do |f| %>
    <%= f.hidden_field :responder_id, value: @schedule.id %>
    <%= f.submit "Decline" %>  
  <% end %>
<% end %>

