<%= render "layouts/sidebar" %>

<div class="dashboard-content">
  <div class="match-show">
    <div class="match-details">
      Your schedule
      <br>
      Other User + schedule
      <br>
      Confirm New
      <br>

    </div>
    <div class="card" id="chat" data-matchid="<%= @match.id %>" data-selfid="<%= current_user.id %>" data-otherid="<%= @match.other_user(current_user).id %>">
      <ul>
        <% @messages.each do |message| %>
          <li class="<%= message.user == current_user ? "self" : "other" %>">
            <div class="message-body">
              <%= message.content %>
            </div>
          </li>  
        <% end %>
      </ul>
      <div class="type-area">
        <%= form_for :message, url: match_messages_path(@match), remote: true, html: { id: "create-message-form" } do |f| %>
          <%= f.text_area :content, rows: 1, class: "form-control" %>
          <%= f.submit "Send", class: "btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>