<div id="sidebar">
  <div class="topbar">
  <table>
    <tr>
      <td>
        <%= link_to root_path do %>
          <h1>Fitbuds</h1>
        <% end %>    
      </td>
      <td class="notification-icon">
        <%= link_to "#" do %>
          <%= icon('bell-o') %>
        <% end %>
      </td>
    </tr>
  </table>
    
  </div>
  <div class="user-info">
    <div class="user-dp">
      <%= image_tag current_user.avatar_url(:medium) if current_user.avatar? %>
    </div>
    <div class="user-details">
      <h3><%= current_user.name %></h3>
      <%= link_to "Go to Profile", edit_user_path(current_user), class: "btn btn-edit-user" %>
    </div>
  </div>

  <div class="navigation">
    <ul>
      <%= link_to schedules_path do %>
        <li>
          <span><%= icon('clock-o') %></span>
          Schedules
        </li>
      <% end %>
      <%= link_to matches_path do %>
        <li>
          <span><%= icon("handshake-o") %></span>
          Matches
        </li>
      <% end %>
      <%= link_to confirms_path do %>
        <li>
          <span><%= icon("calendar-check-o") %></span>
          Confirms
        </li>
      <% end %>
    </ul>
  </div>

  <!-- <div class="logout">
    <%= link_to "Log out", destroy_user_session_path, class: "btn btn-logout btn-lg" %>  
  </div> -->
</div>
