<!DOCTYPE html>
<html>
  <head>
    <title>HealthappV2</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="<%= asset_path('favicon.ico') %>">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Hind|Montserrat">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash.each do |type, message| %>
  <div class="alert alert-<%= type %>">
    <div><%= icon('times') %></div> 
    <p><%= message %></p>
  </div>
  <% end %>

    <%= yield %>
  </body>
</html>
